<!--
* Copyright ©2018 Goddat Réal, on behalf of Eaton
* Permission is hereby granted, free of charge, to any person obtaining a copy of
* this software and associated documentation files (the "Software"), to deal in
* the Software without restriction, including without limitation the rights to use,
* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
* the Software, and to permit persons to whom the Software is furnished to do so,
* subject to the following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*
* Author: Goddat, Réal <rgoddat@gmail.com>
* Date: 06/04/2018 - 16:45:00
*
* File name: app.component.html
*
* Description: Demonstration's template
-->
<div style="text-align:center">
  <h1>
    Unity app integration demonstration
  </h1>
</div>
<lib-unity-angular appLocation="../assets/Unity/demo/demo.json" appWidth="800" appHeight="600"></lib-unity-angular>
